body {
    background-color: #eae9e9;
    font-family: "Roboto", sans-serif;

}

header {
    display: grid;
    background-color: #d4d4d3;
    border-radius: 10px;
    grid-template-areas: 
    "title"
    "title-caption";
}

#title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

#title-caption{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding-bottom: 10px;
}


#img-div {
    display: block;
    text-align: center;
}

#image {
    display: block;
    max-width: 85%;
    height: auto;
    margin: 20px auto 5px auto;
}

#img-caption {
    font-size: 14px;
    font-style: italic;
    margin: 5px auto 20px auto;
}

#main {
    width: 70vw;
    margin: 0 auto;
    background-color: #d4d4d3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

ul {
    margin: 30px auto;
}
li {
    margin: 20px 50px 10px 10px;
    text-align: justify;
}

#quote-div {
    margin: 50px auto;
}
#quote {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

#quote-author {
    font-style: italic;
    margin: 0px;
    padding: 0px;
}

#link-text {
    margin-top: 30px;
    font-size: 14px;
}